

                                                                            /* Body */
body {
    margin: 0;
    padding: 0;
    text-align: center;
}




/* Header*/
header {
    height: 360px;
    background-image: url("../IMG/fondo/fondo2.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    position: relative; /* Agrega posicionamiento relativo */
    margin-bottom: 0px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); /* Añade una sombra */
}




/*Nav*/
nav{
    position: absolute;
    left: 50%;
    margin-top: 315px;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: transparent;
    font-size: 24px;
    padding: 1px; /* Añade un espacio para que el borde no esté muy cerca del texto*/
    padding-right: 9px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Añade una sombra */
    font-family: Merienda;
    }


.active-nav-link {
    border-bottom: 2px solid #f6c8c7;
    color: black;
}


nav a{
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    
color: black; /* Cambia el color del texto a negro cuando paso el mouse*/
}

/* REGLA AGREGADA QUE SE ACTIVA CUANDO SE SCROLEA LA PAGINA fixed-nav*/
.fixed-nav {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    background-color: #f9d9fd;
    z-index: 9999;
    margin-top: 0px;
    text-align: center;
}

h1 {
    position: absolute; /* Posicion Absoluta */
    top: 0;
    margin-top: 135px;
    left: 50%;
    transform: translateX(-50%); /* Ajusta el h1 en el centro */
    font-family: Italianno;
    font-size: 70px;
}

.logo {
    position: absolute;
}

.logo img {
    max-width: 300px; /* Establece el ancho de las imagenes*/
    max-height: 300px; /* Establece la altura de las imagenes */
}




/* Main */
main {
    background-color: #ffffff;
}

.barra-horizontal {
    width: 42%; /* Define el ancho de la barra horizontal */
    margin: 0 auto; /* Centra la barra horizontal */
    border: none; /* Elimina el borde predeterminado */
    border-top: 2px solid black; /* Establece el estilo y grosor de la línea */
}

.barra-horizontal-abajo {
    width: 32%; /* Define el ancho de la barra horizontal */
    margin: 0 auto; /* Centra la barra horizontal */
    border: none; /* Elimina el borde predeterminado */
    border-top: 2px solid black; /* Establece el estilo y grosor de la línea */
    margin-bottom: 35px;
}

h2 {
    text-align: center; /* Centra horizontalmente todos los h2 */
    font-family: Merienda;
    font-size: 38;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

section {
    scroll-margin-top: 37px;
}




/* Introduccion */
#introduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    /* margin-left: 100px;
    margin-right: 100px; */
    padding-left: 630px;
    padding-right: 630px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    scroll-margin-top: 73px;
    padding-bottom: 5px;
}

.introducciom {
    font-size: 20px;
}

.introduccionn {
    max-width: 900px; /* Ancho máximo del contenido */
}

.introduccion {
    max-width: 200px;

}

.h4-de-intro {
    font-size: 15px;
    margin-top: 10px;
}

/* Galeria */
#galeria-2 {
    margin-top: 15px;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Añade una sombra */
}

#servicioss {
    margin-top: 5px;
    display: flex;
    flex-direction: column; /* Asegura que los elementos se muestren en columna */
    align-items: center; /* Centra los elementos horizontalmente */
}

.servicioos {
    font-size: 20px;
}


/* Galeria */
#galeria {
    /* background-color: #fa8fb1; */
    background-image: url("../IMG/fondo/pruebafondo4.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    margin: 0px;
    padding-top: 10px;
    scroll-margin-top: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Añade una sombra */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; /* Alinea las secciones verticalmente */
    align-items: center; /* Centra las secciones horizontalmente */
}

.img-galeria-1, .img-galeria-2, .img-galeria-3 {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente dentro del contenedor */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten al tamaño del contenedor */
    margin-bottom: 20px; /* Espacio entre las secciones */
}

.img-galeria-1 img, .img-galeria-2 img, .img-galeria-3 img {
    max-width: 200px; /* Establece el ancho de las imágenes */
    max-height: 290px; /* Establece la altura de las imágenes */
    display: inline-block; /* Hace que la imagen sea un elemento de bloque */
    margin: 15px; /* Espacio entre Imágenes */
    border-radius: 10%; /* Bordes de la imagen redondos */
}

.img-galeria-1 img:hover, .img-galeria-2 img:hover, .img-galeria-3 img:hover {
    transform: scale(1.1); /* Aumenta la escala al 110% del tamaño original */
}

/* Curso */
#curso {
    /* background-color: #fa8fb1; */
    display: flex; /* Usa Flexbox para alinear elementos */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.img-curso {
    display: flex; /* Usa Flexbox para alinear las imágenes */
    justify-content: center; /* Centra las imágenes horizontalmente */
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3); /* Añade una sombra */
    margin-bottom: 10px;
}

.img-curso img {
    max-width: 380px; /* Establece el ancho máximo de las imágenes */
    max-height: 280px; /* Establece la altura máxima de las imágenes */
    margin: 15px; /* Espacio entre imágenes */
    border-radius: 10%; /* Bordes de la imagen redondos */
    transition: transform 0.3s ease; /* Transición suave al escalar */
}

.img-curso img:hover {
    transform: scale(1.1); /* Aumenta la escala al 110% del tamaño original */
}

.subtitulo-curso {
    font-size: 17px; /* Corrige el tamaño de fuente especificando px */
}

.parrafo-curso {
    max-width: 400px;
    margin: 0 auto; /* Centra el párrafo dentro del contenedor */
    /* transform: translateX(118%); No es necesario si se usa flexbox correctamente */
    font-size: 17px;
}

.video {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Añade una sombra */
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 0px;
}


/* Servicios */
#servicios {
    display: flex; /* Usa Flexbox para alinear elementos */
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center;
    margin-top: 25px;
    margin-bottom: 60px;
}


.contenedor-serv {
    display: flex;
    align-items: flex-start;
}

.servicioss {
    max-width: 650px; /* Establece un ancho máximo para el contenido */
    margin: 0 auto; /* Centra el contenido dentro del contenedor */
    padding: 0 20px; /* Añade espaciado interno */
    font-size: 20px;
}

.lista-servicios {
    max-width: 600px; /* Establece un ancho máximo para la lista de servicios */
    margin: 20px auto; /* Centra la lista de servicios y añade margen */
    text-align: left; /* Alinea el texto a la izquierda dentro del contenedor */
    margin-right: 25px;
}

.lista-servicios ul {
    padding: 0;
    list-style-type: none; /* Elimina los puntos de la lista */
}

.lista-servicios li {
    margin-bottom: 8px; /* Espacio entre los elementos de la lista */
    text-align: center; /* Centra el texto dentro de la línea */
}


.lista-servicios2 {
    max-width: 600px; /* Establece un ancho máximo para la lista de servicios */
    margin: 20px auto; /* Centra la lista de servicios y añade margen */
    text-align: right; /* Alinea el texto a la derecha dentro del contenedor */
    margin-left: 25px;
}

.lista-servicios2 ul {
    padding: 0;
    list-style-type: none; /* Elimina los puntos de la lista */
}

.lista-servicios2 li {
    margin-bottom: 8px; /* Espacio entre los elementos de la lista */
    text-align: center; /* Centra el texto dentro de la línea */
}

.ejemplo-serv img {
    max-width: 200px; /* Establece el ancho de las imágenes */
    max-height: 290px; /* Establece la altura de las imágenes */
    padding: 15px;
}



/* Ubicacion*/
#ubicacion {
    /* background-color: #fa8fb1; */
    text-align: center;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3); /* Añade una sombra */
    margin-top: 25px;
    padding-bottom: 10px;
    padding-top: 15px;
}


.ubi-map img {
    max-width: 550px; /* Establece el ancho de las imagenes*/
    max-height: 450px; /* Establece la altura de las imagenes */
    display: inline-block; /* Hace que la imagen sea un elemento de bloque */
    margin: 15px;
    border-radius: 10%; /* Bordes de la imagen redondos */
}

.como-llegar {
    margin: 15px; /* Espacio entre Imagenes*/
    border-radius: 15%; /* Bordes de la imagen redondos */
}


/* Conocenos */
#conocenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    scroll-margin-top: 73px;
    padding-bottom: 5px;
}

#contenedor {
    display: flex;
    align-items: flex-start;
    margin-top: 22px;
    margin-bottom: 22px;
}

.img-conocenos {
    max-width: 450px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-left: 20px; /* Espacio entre la imagen y el borde */
}

.container {
    max-width: 900px; /* Ajusta el ancho máximo si es necesario */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.conocenoss {
    max-width: 730px;
    font-size: 20px;
    text-align: left; /* Alinear el texto a la izquierda */
    margin-right: auto; /* Asegurarse de que no esté centrado */
    padding-left: 50px;
}

.introduccion {
    font-size: 19px;
}

.h4-de-intro {
    font-size: 20px;
    margin-top: 10px;
}

.img-conocenos {
    text-align: center;
}

.img-conocenos img{
    max-width: 80%; /* Establece el ancho de las imágenes */
    height: auto; 
}


.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Añade una sombra */
    border-radius: 5px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.campo {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.formulariooo {
background-color: #f7cac9;
    background-position: center;
}


/* Footer */
footer {
    background-color: gray;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Espacio alrededor del contenido del footer */
}

.footer {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    width: 100%; /* Ancho completo */
    max-width: 1200px; /* Ancho máximo del footer */
}

.footer-info,
.footer-copy {
    padding-top: 100px;
    margin: 10px 0; /* Espacio entre los elementos del footer */
    color: #ffffff;
    text-align: center; /* Centra el texto dentro de cada sección */
}

.footer-img {
    margin: 10px 0; /* Espacio entre los elementos del footer */
    color: #ffffff;
    text-align: center; /* Centra el texto dentro de cada sección */
}

.footer-img img {
    max-width: 75%; /* Establece el ancho de las imágenes */
    height: auto; 
    border-radius: 15%; /* Bordes de la imagen redondos */
    padding-left: 30px;
    padding-right: 30px;
}

.fuentes a:hover {
    color: black; /* Cambia el color del texto a negro cuando paso el mouse */
} 

.footer h4 {
    margin: 0;
}


















html {
    scroll-behavior: smooth;
    font-family: Quicksand;
    /* background-color: #f5a7ff; */
}

h2 {
    text-decoration: underline;
}

p {
    font-family: Quicksand;
}
 
